name: CI Pipeline with Docker

on:
  push:
    branches:
      - main

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Persiapan Code (Checkout repo dari GitHub)
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Setup Python environment
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Install Library yang dibutuhkan Runner
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow dagshub pandas numpy scikit-learn seaborn matplotlib

    # 4. Training Model & Upload ke DagsHub
    # PERBAIKAN: Langsung 'mlflow run .' karena file ada di root, tidak perlu 'cd'
    - name: Run MLflow Training
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/Eksperimen_SML_YustianasRombon.mlflow
      run: |
        python modelling.py
    # 5. Ambil Run ID Terbaru (Untuk bikin Docker)
    # Script ini otomatis mencari ID eksperimen terakhir untuk dipackage
    - name: Get Latest Run ID
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/Eksperimen_SML_YustianasRombon.mlflow
      id: get_run_id
      run: |
        run_id=$(python -c "import mlflow; mlflow.set_tracking_uri('$MLFLOW_TRACKING_URI'); runs = mlflow.search_runs(experiment_names=['Water Potability CI Pipeline']); print(runs.iloc[0].run_id)")
        echo "Detected Run ID: $run_id"
        echo "RUN_ID=$run_id" >> $GITHUB_ENV

    # 6. Login ke Docker Hub (Wajib pakai Secrets)
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 7. Build Docker Image dari Model MLflow
    # Mengambil model dari Run ID yang didapat di step 5
    - name: Build Docker Image
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/Eksperimen_SML_YustianasRombon.mlflow
      run: |
        echo "Building Docker Image from Run ID: ${{ env.RUN_ID }}"
        mlflow models build-docker \
          --model-uri "runs:/${{ env.RUN_ID }}/model" \
          --name "${{ secrets.DOCKER_USERNAME }}/water-potability-model:latest"

    # 8. Push Image ke Docker Hub
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/water-potability-model:latest